<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= config.siteTitle || "Live Chat" %></title>
<link rel="icon" href="/favicon.png">

<style>
:root{
  --bg-desktop: url('<%= config.background || "" %>');
  --bg-mobile: url('<%= config.background_mobile || config.background || "" %>');
}

html {
  background-color:#000;
  background-image: var(--bg-desktop);
  background-position:center;
  background-attachment:fixed;
  background-size:cover;
}

@media (max-width:600px){
  html{ background-image: var(--bg-mobile); }
}

body{
  font-family:sans-serif;
  margin:0;
  padding:15px;
  padding-bottom:80px;
  background-color:#0000005c;
}

.wrap{
  max-width:500px;
  margin:auto;
}

.profile{
  text-align:center;
}

.photo{
  width:247px;
  max-width:85%;
}

.link{
  padding:15px;
  display:block;
  background:rgba(0,0,0,0.85);
  color:#fff;
  text-align:center;
  margin:30px 0;
  border:2px solid #fbff00;
  animation:rainbow 4s linear infinite;
  text-decoration:none;
  font-weight:bold;
  border-radius:10px;
}

@keyframes rainbow{
  0%{border-color:#0059ff;}
  50%{border-color:#FFA500;}
  100%{border-color:#0059ff;}
}

.icon-img{
  width:14px;
  margin-right:5px;
}
</style>
</head>

<body>

<div class="wrap">
  <div class="profile">
    <img src="<%= config.profilePhoto || '/default.png' %>" class="photo">
  </div>

  <a class="link" href="<%= config.wa1 || '#' %>"><img src="/whatsapp.png" class="icon-img"> WHATSAPP 1</a>
  <a class="link" href="<%= config.wa2 || '#' %>"><img src="/whatsapp.png" class="icon-img"> WHATSAPP 2</a>
  <a class="link" href="<%= config.wa3 || '#' %>"><img src="/whatsapp.png" class="icon-img"> WHATSAPP 3</a>

  <a class="link" href="<%= config.tg1 || '#' %>"><img src="/telegram.png" class="icon-img"> TELEGRAM 1</a>
  <a class="link" href="<%= config.tg2 || '#' %>"><img src="/telegram.png" class="icon-img"> TELEGRAM 2</a>

  <a class="link" href="<%= config.lc1 || '#' %>"><img src="/livechat.png" class="icon-img"> LIVECHAT 1</a>
  <a class="link" href="<%= config.lc2 || '#' %>"><img src="/livechat.png" class="icon-img"> LIVECHAT 2</a>
</div>

</body>
</html>
